[submodule "Concurrent_ATM_CPP"]
	path = Concurrent_ATM_CPP
	url = ./Concurrent_ATM_CPP
[submodule "Concurrent_CopyingFiles_CPP"]
	path = Concurrent_CopyingFiles_CPP
	url = ./Concurrent_CopyingFiles_CPP
[submodule "Concurrent_Dining_-philosophers"]
	path = Concurrent_Dining_-philosophers
	url = ./Concurrent_Dining_-philosophers
[submodule "Concurrent_QuickSort_CPP"]
	path = Concurrent_QuickSort_CPP
	url = ./Concurrent_QuickSort_CPP
[submodule "Concurrent_ThreadSafeQueue_CPP"]
	path = Concurrent_ThreadSafeQueue_CPP
	url = ./Concurrent_ThreadSafeQueue_CPP
[submodule "Concurrent_TicketingSystem_CPP"]
	path = Concurrent_TicketingSystem_CPP
	url = ./Concurrent_TicketingSystem_CPP
[submodule "Concurrent_producer_consumer_CPP"]
	path = Concurrent_producer_consumer_CPP
	url = ./Concurrent_producer_consumer_CPP
[submodule "Doubly_LinkedList_CPP"]
	path = Doubly_LinkedList_CPP
	url = ./Doubly_LinkedList_CPP
[submodule "Parallel_Programming_CPP"]
	path = Parallel_Programming_CPP
	url = ./Parallel_Programming_CPP
[submodule "Qt_ByteConveter_CPP"]
	path = Qt_ByteConveter_CPP
	url = ./Qt_ByteConveter_CPP
[submodule "Qt_Signal-Slot_CPP"]
	path = Qt_Signal-Slot_CPP
	url = ./Qt_Signal-Slot_CPP
